openapi: 3.0.3
info:
  title: AMCIS Q-SEC CORE API
  description: |
    # AMCIS Quantum-Secure Cybersecurity Platform API
    
    This is the comprehensive API documentation for AMCIS Q-SEC CORE, 
    a production-grade quantum-secure security framework.
    
    ## Features
    - Post-quantum cryptography (NIST FIPS 203/204)
    - AI-powered threat detection
    - Automated compliance (NIST CSF 2.0)
    - Zero-trust architecture
    
    ## Authentication
    All API endpoints require authentication via API key header:
    ```
    X-API-Key: your_api_key_here
    ```
    
    ## Base URL
    - Production: `https://api.amcis-security.com/v1`
    - Staging: `https://staging-api.amcis-security.com/v1`
    - Local: `http://localhost:8080/api/v1`
  
  version: 1.0.0
  contact:
    name: AMCIS Support
    email: api-support@amcis-security.com
    url: https://docs.amcis-security.com
  
  license:
    name: AMCIS Commercial License
    url: https://amcis-security.com/license

servers:
  - url: https://api.amcis-security.com/v1
    description: Production server
  - url: https://staging-api.amcis-security.com/v1
    description: Staging server
  - url: http://localhost:8080/api/v1
    description: Local development

security:
  - ApiKeyAuth: []
  - BearerAuth: []

paths:
  # Health & Status
  /health:
    get:
      summary: Health check
      description: Check if the API is operational
      security: []
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
  
  /health/detailed:
    get:
      summary: Detailed health status
      description: Get detailed health status of all services
      responses:
        '200':
          description: Detailed health information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetailedHealthResponse'
  
  # Cryptography
  /crypto/keys:
    post:
      summary: Generate cryptographic key
      description: Generate a new post-quantum cryptographic key pair
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeyGenerationRequest'
      responses:
        '201':
          description: Key generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyGenerationResponse'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  
  /crypto/keys/{key_id}:
    get:
      summary: Retrieve key information
      parameters:
        - name: key_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Key information retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyInfoResponse'
        '404':
          description: Key not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    
    delete:
      summary: Delete a key
      parameters:
        - name: key_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Key deleted successfully
        '404':
          description: Key not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  
  /crypto/encrypt:
    post:
      summary: Encrypt data
      description: Encrypt data using post-quantum algorithms
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EncryptionRequest'
      responses:
        '200':
          description: Data encrypted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EncryptionResponse'
  
  /crypto/decrypt:
    post:
      summary: Decrypt data
      description: Decrypt data using post-quantum algorithms
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DecryptionRequest'
      responses:
        '200':
          description: Data decrypted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecryptionResponse'
  
  # AI Security
  /ai/analyze-prompt:
    post:
      summary: Analyze prompt for injection attacks
      description: Analyze text input for LLM injection attempts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromptAnalysisRequest'
      responses:
        '200':
          description: Analysis complete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromptAnalysisResponse'
  
  /ai/validate-output:
    post:
      summary: Validate AI output
      description: Validate AI-generated content for safety
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OutputValidationRequest'
      responses:
        '200':
          description: Validation complete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutputValidationResponse'
  
  # Threat Detection
  /threats/detect:
    post:
      summary: Detect threats
      description: Submit security event for threat detection
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThreatDetectionRequest'
      responses:
        '200':
          description: Threat analysis complete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreatDetectionResponse'
  
  /threats:
    get:
      summary: List detected threats
      description: Get list of detected threats with filtering
      parameters:
        - name: severity
          in: query
          schema:
            type: string
            enum: [low, medium, high, critical]
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of threats
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreatListResponse'
  
  # Compliance
  /compliance/assess:
    post:
      summary: Run compliance assessment
      description: Run NIST CSF 2.0 compliance assessment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComplianceAssessmentRequest'
      responses:
        '200':
          description: Assessment complete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceAssessmentResponse'
  
  /compliance/report:
    post:
      summary: Generate compliance report
      description: Generate detailed compliance report
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportGenerationRequest'
      responses:
        '200':
          description: Report generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportGenerationResponse'
  
  /compliance/controls:
    get:
      summary: List compliance controls
      description: Get list of all compliance controls
      parameters:
        - name: framework
          in: query
          required: true
          schema:
            type: string
            enum: [NIST-CSF-2.0, CMMC-2.0, PCI-DSS-4.0, HIPAA]
      responses:
        '200':
          description: List of controls
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ControlsListResponse'
  
  # Network Security
  /network/scan:
    post:
      summary: Scan network ports
      description: Perform port scan on target network
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PortScanRequest'
      responses:
        '200':
          description: Scan complete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortScanResponse'
  
  /network/dns/analyze:
    post:
      summary: Analyze DNS traffic
      description: Analyze DNS queries for tunneling attempts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DNSAnalysisRequest'
      responses:
        '200':
          description: Analysis complete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DNSAnalysisResponse'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  
  schemas:
    # Health
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          example: healthy
        timestamp:
          type: string
          format: date-time
        version:
          type: string
          example: 1.0.0
    
    DetailedHealthResponse:
      type: object
      properties:
        status:
          type: string
        services:
          type: object
          properties:
            database:
              type: string
              example: connected
            cache:
              type: string
              example: connected
            vault:
              type: string
              example: connected
    
    # Cryptography
    KeyGenerationRequest:
      type: object
      required:
        - algorithm
      properties:
        algorithm:
          type: string
          enum: [ML-KEM-768, ML-KEM-1024, ML-DSA-65, ML-DSA-87]
        key_id:
          type: string
    
    KeyGenerationResponse:
      type: object
      properties:
        key_id:
          type: string
        algorithm:
          type: string
        public_key:
          type: string
        created_at:
          type: string
          format: date-time
    
    KeyInfoResponse:
      type: object
      properties:
        key_id:
          type: string
        algorithm:
          type: string
        created_at:
          type: string
        status:
          type: string
          enum: [active, rotated, revoked]
    
    EncryptionRequest:
      type: object
      required:
        - plaintext
        - key_id
      properties:
        plaintext:
          type: string
        key_id:
          type: string
        algorithm:
          type: string
          default: AES-256-GCM
    
    EncryptionResponse:
      type: object
      properties:
        ciphertext:
          type: string
        key_id:
          type: string
        algorithm:
          type: string
    
    DecryptionRequest:
      type: object
      required:
        - ciphertext
        - key_id
      properties:
        ciphertext:
          type: string
        key_id:
          type: string
    
    DecryptionResponse:
      type: object
      properties:
        plaintext:
          type: string
        key_id:
          type: string
    
    # AI Security
    PromptAnalysisRequest:
      type: object
      required:
        - prompt
      properties:
        prompt:
          type: string
        context:
          type: string
    
    PromptAnalysisResponse:
      type: object
      properties:
        is_malicious:
          type: boolean
        risk_score:
          type: number
          minimum: 0
          maximum: 1
        risk_level:
          type: string
          enum: [LOW, MEDIUM, HIGH, CRITICAL]
        injection_type:
          type: string
        recommendation:
          type: string
    
    OutputValidationRequest:
      type: object
      required:
        - content
      properties:
        content:
          type: string
        validation_rules:
          type: array
          items:
            type: string
    
    OutputValidationResponse:
      type: object
      properties:
        is_valid:
          type: boolean
        violations:
          type: array
          items:
            type: object
    
    # Threat Detection
    ThreatDetectionRequest:
      type: object
      required:
        - event_type
        - source_ip
      properties:
        event_type:
          type: string
        source_ip:
          type: string
        timestamp:
          type: string
        metadata:
          type: object
    
    ThreatDetectionResponse:
      type: object
      properties:
        threat_id:
          type: string
        severity:
          type: string
        confidence:
          type: number
        detected_at:
          type: string
        recommended_action:
          type: string
    
    ThreatListResponse:
      type: object
      properties:
        threats:
          type: array
          items:
            type: object
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
    
    # Compliance
    ComplianceAssessmentRequest:
      type: object
      required:
        - framework
      properties:
        framework:
          type: string
          enum: [NIST-CSF-2.0, CMMC-2.0, PCI-DSS-4.0]
        scope:
          type: string
    
    ComplianceAssessmentResponse:
      type: object
      properties:
        assessment_id:
          type: string
        framework:
          type: string
        compliance_score:
          type: number
        controls_checked:
          type: integer
        compliant_controls:
          type: integer
        non_compliant_controls:
          type: integer
    
    ReportGenerationRequest:
      type: object
      required:
        - framework
      properties:
        framework:
          type: string
        format:
          type: string
          enum: [PDF, HTML, JSON]
          default: PDF
    
    ReportGenerationResponse:
      type: object
      properties:
        report_id:
          type: string
        download_url:
          type: string
        expires_at:
          type: string
    
    ControlsListResponse:
      type: object
      properties:
        framework:
          type: string
        controls:
          type: array
          items:
            type: object
    
    # Network
    PortScanRequest:
      type: object
      required:
        - target
      properties:
        target:
          type: string
        ports:
          type: array
          items:
            type: integer
        scan_type:
          type: string
          enum: [SYN, CONNECT, UDP]
    
    PortScanResponse:
      type: object
      properties:
        scan_id:
          type: string
        target:
          type: string
        open_ports:
          type: array
          items:
            type: object
        scan_duration:
          type: number
    
    DNSAnalysisRequest:
      type: object
      required:
        - queries
      properties:
        queries:
          type: array
          items:
            type: object
    
    DNSAnalysisResponse:
      type: object
      properties:
        analysis_id:
          type: string
        tunnel_detected:
          type: boolean
        entropy_score:
          type: number
        suspicious_queries:
          type: array
    
    # Error
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        code:
          type: integer
        message:
          type: string
        timestamp:
          type: string
